<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "EventBrite", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Create Event", '#' %></li>
        <li><%= link_to "Sign Up", signup_url %></li>
      </ul>
    </nav>
  </div>
</header>
